.logo-studio-white {
  color: var(--main-white-color-h);
  @media screen and (max-width: 767px) {
    color: #000000;
  }
}

footer {
  background-color: var(--nav-backgroud-main);
}

.lower-section {
  padding-top: 50px;
  padding-bottom: 60px;
  max-height: auto;
}

.address-down {
  margin-top: 20px;
}

.logo-down-web {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  display: flex;
  justify-content: center;
}

.join-us-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.joinus-middle {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.joinus-list {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.lower-icon-bg {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--main-white-color-h);
}

.lower-list-itemss {
  margin-bottom: 9px;
}

.second-part {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--main-white-color-h);
  @media screen and (min-width: 1200px) {
    display: flex;
    // align-items: baseline;
    // flex-direction: column;
  }
}

.email-button-part {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mail-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 20px;
  background-color: transparent;
  transition: background-color, border-color, box-shadow;
  transition-duration: var(--transition--250ms--);
  transition-timing-function: var(--cubic-bezier--);
  color: var(--portfolio-bottons-color);
  outline: none;
}

.mail-input:hover,
.mail-input:focus {
  border-color: var(--web-hover-button-up-down);
  outline: none;
}

.submit-btn {
  display: flex;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  background: var(--web-hover-button-up-down);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  align-items: center;
  padding: 10px 28px;
  cursor: pointer;
  align-items: center;
  border: none;
  box-sizing: border-box;

  @media screen and (max-width: 767px) {
    margin-top: 20px;
  }
}

.submit-btn:hover,
.submit-btn:focus,
.submit-btn:active {
  background-color: var(--header-button-active);
}

.nav-menu-items-info {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--RGBA-down-section-email-phone);
  text-decoration: inherit;
  font-style: normal;
}

.nav-menu-items-info:hover,
.nav-menu-items-info:focus {
  color: var(--blue-bg-button);
  fill: var(--header-button-active);
}

.joinus-middle {
  margin-left: 79px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    margin-left: 0;
    margin-top: 63px;
  }
}

.lower-section {
  padding-top: 60px;
  padding-bottom: 60px;
  max-height: auto;
}

.logo-down-web {
  display: block;
}

.subscription-main {
  margin-left: 93px;
  @media screen and (max-width: 767px) {
    margin-left: 0;
    margin-top: 62px;
  }
}

.email-button-part {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .join-us-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }

  .joinus-middle {
    margin-left: 0;
  }

  .subscription-main {
    margin-top: 60px;
    margin-left: 0;
  }

  .mail-input {
    margin-top: 10px;
    margin-bottom: 10px;

    @media screen and (min-width: 1200px) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .email-button-part {
  }

  .submit-btn {
    margin-top: 20px;
    margin-left: 0;
  }

  .logo-down-web,
  .address-down {
    text-align: center;
  }
}

.first-part {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1140px) {
  .first-part {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-right: 44px;
  }
  .join-us-main {
    display: flex;
    flex-direction: row;
  }

  .address-down {
    display: flex;
  }

  .logo-down-web,
  .address-down {
    text-align: left;
  }

  .join-us-main {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
  }

  .joinus-middle {
    align-items: flex-start;
  }

  .email-button-part {
    display: flex;
    flex-direction: row;
    margin-left: 83px;
  }

  .submit-btn {
    margin-top: 0;
    margin-left: 12px;
  }

  .lower-lis {
    display: flex;
    flex-wrap: nowrap;
  }
}

.subscription-main {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1200px) {
    margin-top: 0;
    align-items: baseline;
  }
}

.lower-list {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media screen and (max-width: 767px) {
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    align-items: flex-start;
  }
}
