.strength {
  padding-top: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 94px;
  }

  @media screen and (min-width: 1140px) {
    padding-top: 94px;
  }

  @media screen and (max-width: 1140px) {
    padding-bottom: 66px;
  }
}

.strength__list {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 30px;
  }

  @media screen and (min-width: 1140px) {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
  }
}

.s-i-position {
  // @media screen and (min-width: 768px) {
  //   padding-bottom: 30px;
  // }

  // @media screen and (min-width: 1140px) {
  //   padding-bottom: 0;
  // }
}

.strength__item {
  @media screen and (max-width: 768px) {
    gap: 30px;
  }
  gap: 30px;
  @media screen and (min-width: 768px) {
    width: 354px;
    flex-basis: calc((100% / 2 - 30px));
  }

  @media screen and (min-width: 1140px) {
    width: 270px;
  }
}
.strength__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--nav-studio-portfolio-contact);
  margin-bottom: 10px;
  text-align: center;
  margin-top: 30px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.strength__description {
  font-size: 13.5px;
  line-height: calc(24 / 14);
  color: var(--nav-address-email-phone-p-);
}

.strength__icon {
  background-color: var(--portfolio-bottons-color);
  width: 100%;
  height: 120px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 1140px) {
    width: 270px;
  }
}
