:root {
  /* evething-all-colors index.html and portfolio.html*/
  --web-hover-button-up-down: #2196f3;
  --Studio-black-000000: #000000;
  --nav-studio-portfolio-contact: #212121;
  --nav-address-email-phone-p-: #757575;
  --main-white-color-h: #ffffff;
  --header-button-active: #188ce8;
  --white-ececec: #ececec;

  /* lower-section-navigation  */
  --nav-backgroud-main: #2f303a;
  --nav-background-rgba-C4C4C4: #c4c4c4;

  /* portfolio */
  --portfolio-bottons-color: #f5f4fa;
  --blue-bg-button: #2196f3;
  --stroke: #eeeeee;
  --rgba--BLUE-HOVER--: rgba(33, 150, 243, 0.9);

  /* RGBA */
  --RGBA-down-section-email-phone: rgba(255, 255, 255, 0.6);
  --card-set-gap: 30px;
  --what-we-do-descrption-bg: rgba(47, 48, 58, 0.8);

  /* TRANSITION PROPERTIES */

  --transition--250ms--: 250ms;
  --cubic-bezier--: cubic-bezier(0.4, 0, 0.2, 1);
}
